.headline {
    color: rgb(252, 252, 252);
    font-weight: lighter;
    font-size: 3em;
}

.headline-hr {
    border: none;
    border-bottom: 1px solid rgb(67, 88, 117);
}

body {
    color: #fff;
    overflow: hidden;
}